<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Configuration -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>RESMU</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS-->
    <link href="/style/index.css" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/indexScript.js"></script>


</head>

<body>


    <!--MESSAGES D'ALERTE-->
    <% if (!sessionStart) { %>
        <script>alert("Vous allez être déconnecté.");
            setTimeout(function () {
                location.reload(); //rafraichit après avoir fermé la page => ramene à la page de connexion
            }, 300);
        </script>

        <% } %>


            <!--FIN DES MESSAGES D'ALERTE-->


            <!--Banniere-->
            <div class="container-fluid">
                <div class="head">
                    <div
                        class="container-fluid d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                        <div class="info d-flex align-items-center mb-3 mb-md-0">

                            <h3>
                                <span class="pts">Points</span> :
                                <span style="font-weight: bold; color: rgb(235, 185, 185);">
                                    <%= currentUser.points %>
                                </span>
                            </h3>


                            <h1 class="main-title text-center flex-grow-1 mb-0">RESMU<br>@<%= currentUser.pseudo %>
                            </h1>

                        </div>

                        <!-- Bouton de déconnexion -->
                        <div>
                            <form action="/deconnexion" method="POST">
                                <button type="submit" class="btn btn-danger">Se déconnecter</button>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <!-- Colonne pour les cadeaux -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-title">Liste des cadeaux :</div>
                            <div class="card-body">
                                <div class="row">
                                    <!-- Boucle pour afficher les cadeaux -->
                                    <% if(sessionStart){ cadeaux.forEach(function(cadeau, i) { %>
                                        <div class="col-md-4">
                                            <ul class="blocInfoCadeau">
                                                <li class="infoCadeau">
                                                    <h6 class="titre_cadeau">

                                                        <%=cadeau.nom_cadeau %> :
                                                            </h3>
                                                            <p style="font-weight: bold; color: rgb(235, 185, 185);">

                                                                <%= cadeau.points_cadeau %> pts
                                                            </p>
                                                            <div class="image-container">
                                                                <img class="imagecadeau"
                                                                    src="<%=cadeau.image_cadeau %>">

                                                            </div>

                                                            <div class="btn-container">
                                                                <!-- Conteneur pour centrer le bouton -->
                                                                <br>
                                                                <form action="/ajouter-au-panier" method="POST">
                                                                    <input type="hidden" name="id_cadeau"
                                                                        value="<%= cadeau.id_cadeau %>">
                                                                    <input type="hidden" name="nom_cadeau"
                                                                        value="<%= cadeau.nom_cadeau %>">
                                                                    <input type="hidden" name="points_cadeau"
                                                                        value="<%= cadeau.points_cadeau %>">
                                                                    <button type="submit"
                                                                        class="btn btn-success">Ajouter au
                                                                        panier</button>
                                                                </form>

                                                                <br><br>
                                                                <!-- Bouton "Ajouter au panier" -->
                                                            </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <% }); %>
                                            <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Colonne pour la panier -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-title">Panier :</div>
                            <div class="card-body">
                                <% if (panier.length> 0) { %>
                                    <p>Total du panier : <%= totalPanier %> points</p>
                                    <ul>
                                        <% panier.forEach(function(item) { %>
                                            <li><%= item.quantite %> X <%= item.nom_cadeau %> - <%= item.points_cadeau %> points</li>
                                        <% }); %>
                                    </ul>
                                    <% } else { %>
                                        <p>Votre panier est vide.</p>
                                        <% } %>
                                        <div class="btn-container">
                                            <br>
                                            <form action="/valider-panier" method="POST">
                                                <button type="submit"
                                                    class="btn btn-success">Valider le
                                                    panier</button>
                                            </form>
                                        </div>
                            </div>
                        </div>
                    </div>





</body>

</html>