<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Configuration -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>RESMU</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS-->
    <link href="/style/index.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/indexScript.js"></script>


</head>

<body>


    <!--MESSAGES D'ALERTE-->
    <% if (!sessionStart) { %>
        <script>alert("Vous allez être déconnecté.");
            setTimeout(function () {
                location.reload(); //rafraichit après avoir fermé la page => ramene à la page de connexion
            }, 300);
        </script>

        <% } %>


            <!--FIN DES MESSAGES D'ALERTE-->

            <% if (error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>


                    <% if (anniversaireClass) { %>
                        <% for (let i=0; i < 50; i++) { %>
                            <div class="confetti"
                                style="left: <%= Math.random() * 100 %>vw; animation-delay: <%= Math.random() * 5 %>s;">
                            </div>
                            <% } %>
                                <p class="anniversaire-message">C'est votre anniversaire aujourd'hui! Joyeux
                                    anniversaire!</p>
                                <% } %>
                                    <!--Banniere-->
                                    <div class="container-fluid">
                                        <div class="head">
                                            <div
                                                class="container-fluid d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">

                                                <div
                                                    class="info d-flex flex-column flex-md-row align-items-md-center mb-3 mb-md-0">
                                                    <img src="images/logo.png" alt="Logo" class="img-fluid logo-grande">
                                                    <h6 class="mb-0 ml-md-3">
                                                        <span style="text-decoration: underline;"> Points</span> :
                                                        <span style="font-weight: bold; color: rgb(235, 185, 185);">

                                                            <%=currentUser.points%>

                                                        </span>
                                                    </h6>
                                                    <div
                                                        class="main-title text-center flex-grow-1 mb-0 d-flex flex-column align-items-md-center">

                                                        <h1><strong>RESMU</strong></h1>
                                                        <span class="pseudo-taille">@<%= currentUser.pseudo %></span>
                                                    </div>

                                                </div>

                                                <!-- Bouton de déconnexion -->
                                                <div>
                                                    <form action="/deconnexion" method="POST">
                                                        <button type="submit" class="btn btn-danger">Se
                                                            déconnecter</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Fin de la Banniere-->


                                        <div class="row">
                                            <!-- Colonne pour les cadeaux -->
                                            <div class="col-md-8 ">
                                                <div class="bloc-cadeau">
                                                    <div class="card-title">Liste des cadeaux :</div>
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <!-- Boucle pour afficher les cadeaux -->
                                                            <% if(sessionStart){ cadeaux.forEach(function(cadeau, i) {
                                                                %>
                                                                <% if (!anniversaireClass ) { %>
                                                                    <% if (!cadeau.anniv ) { %>
                                                                        <div class="col-md-4 col-sm-6 ">
                                                                            <ul class="blocInfoCadeau">
                                                                                <li class="infoCadeau">
                                                                                    <p class="titre_cadeau">

                                                                                        <%=cadeau.nom_cadeau %>
                                                                                    </p>
                                                                                    <p
                                                                                        style="font-weight: bold; color: rgb(235, 185, 185);">

                                                                                        <%= cadeau.points_cadeau %> pts
                                                                                    </p>
                                                                                    <div class="image-container">
                                                                                        <img class="imagecadeau"
                                                                                            src="<%=cadeau.image_cadeau %>">

                                                                                    </div>

                                                                                    <div class="btn-container">

                                                                                        <br>
                                                                                        <form
                                                                                            action="/ajouter-au-panier"
                                                                                            method="POST">
                                                                                            <input type="hidden"
                                                                                                name="id_cadeau"
                                                                                                value="<%= cadeau.id_cadeau %>">
                                                                                            <input type="hidden"
                                                                                                name="nom_cadeau"
                                                                                                value="<%= cadeau.nom_cadeau %>">
                                                                                            <input type="hidden"
                                                                                                name="points_cadeau"
                                                                                                value="<%= cadeau.points_cadeau %>">


                                                                                            <% if (cadeau.menu ) { %>
                                                                                                <label
                                                                                                    for="couleur">Couleur:</label>
                                                                                                <select name="couleur"
                                                                                                    id="couleur">
                                                                                                    <option
                                                                                                        value="rouge">
                                                                                                        Rouge
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="bleu">
                                                                                                        Bleu
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="vert">
                                                                                                        Vert
                                                                                                    </option>
                                                                                                </select>
                                                                                                <br>
                                                                                                <label
                                                                                                    for="taille">Taille:</label>
                                                                                                <select name="taille"
                                                                                                    id="taille">
                                                                                                    <option
                                                                                                        value="petite">
                                                                                                        Petite
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="moyenne">
                                                                                                        Moyenne
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="grande">
                                                                                                        Grande
                                                                                                    </option>
                                                                                                </select>
                                                                                                <br><br>
                                                                                                <% } else { %>
                                                                                                    <input type="hidden"
                                                                                                        name="couleur"
                                                                                                        value="neutre"
                                                                                                        class="couleur">
                                                                                                    <input type="hidden"
                                                                                                        name="taille"
                                                                                                        value="moyenne"
                                                                                                        class="taille">
                                                                                                    <br><br><br><br>
                                                                                                    <% } %>

                                                                                                        <input
                                                                                                            type="number"
                                                                                                            name="quantite"
                                                                                                            value="1"
                                                                                                            min="1"
                                                                                                            class="quantité">
                                                                                                        <br>


                                                                                                        <button
                                                                                                            type="submit"
                                                                                                            class="btn btn-success">Ajouter
                                                                                                            au
                                                                                                            panier</button>
                                                                                        </form>

                                                                                        <br><br>
                                                                                        <!-- Bouton "Ajouter au panier" -->
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <% } %>
                                                                            <% } else {%>
                                                                                <div class="col-md-4 col-sm-6">
                                                                                    <ul class="blocInfoCadeau">
                                                                                        <li class="infoCadeau">
                                                                                            <h6 class="titre_cadeau">

                                                                                                <%=cadeau.nom_cadeau %>
                                                                                                    :
                                                                                            </h6>
                                                                                            <p
                                                                                                style="font-weight: bold; color: rgb(235, 185, 185);">

                                                                                                <%= cadeau.points_cadeau
                                                                                                    %> pts
                                                                                            </p>
                                                                                            <div
                                                                                                class="image-container">
                                                                                                <img class="imagecadeau"
                                                                                                    src="<%=cadeau.image_cadeau %>">

                                                                                            </div>

                                                                                            <div class="btn-container">

                                                                                                <br>
                                                                                                <form
                                                                                                    action="/ajouter-au-panier"
                                                                                                    method="POST">
                                                                                                    <input type="hidden"
                                                                                                        name="id_cadeau"
                                                                                                        value="<%= cadeau.id_cadeau %>">
                                                                                                    <input type="hidden"
                                                                                                        name="nom_cadeau"
                                                                                                        value="<%= cadeau.nom_cadeau %>">
                                                                                                    <input type="hidden"
                                                                                                        name="points_cadeau"
                                                                                                        value="<%= cadeau.points_cadeau %>">

                                                                                                    <% if (cadeau.menu )
                                                                                                        { %>
                                                                                                        <label
                                                                                                            for="couleur">Couleur:</label>
                                                                                                        <select
                                                                                                            name="couleur"
                                                                                                            id="couleur">
                                                                                                            <option
                                                                                                                value="rouge">
                                                                                                                Rouge
                                                                                                            </option>
                                                                                                            <option
                                                                                                                value="bleu">
                                                                                                                Bleu
                                                                                                            </option>
                                                                                                            <option
                                                                                                                value="vert">
                                                                                                                Vert
                                                                                                            </option>
                                                                                                        </select>
                                                                                                        <br>
                                                                                                        <label
                                                                                                            for="taille">Taille:</label>
                                                                                                        <select
                                                                                                            name="taille"
                                                                                                            id="taille">
                                                                                                            <option
                                                                                                                value="petite">
                                                                                                                Petite
                                                                                                            </option>
                                                                                                            <option
                                                                                                                value="moyenne">
                                                                                                                Moyenne
                                                                                                            </option>
                                                                                                            <option
                                                                                                                value="grande">
                                                                                                                Grande
                                                                                                            </option>
                                                                                                        </select>
                                                                                                        <br><br>
                                                                                                        <% } else { %>
                                                                                                            <input
                                                                                                                type="hidden"
                                                                                                                name="couleur"
                                                                                                                value="neutre"
                                                                                                                class="couleur">
                                                                                                            <input
                                                                                                                type="hidden"
                                                                                                                name="taille"
                                                                                                                value="moyenne"
                                                                                                                class="taille">
                                                                                                            <br><br><br><br>
                                                                                                            <br>
                                                                                                            <% } %>

                                                                                                                <% if
                                                                                                                    (cadeau.anniv
                                                                                                                    ) {
                                                                                                                    %>
                                                                                                                    <input
                                                                                                                        type="hidden"
                                                                                                                        name="quantite"
                                                                                                                        value="1"
                                                                                                                        class="quantité">
                                                                                                                    <% } else
                                                                                                                        {
                                                                                                                        %>
                                                                                                                        <input
                                                                                                                            type="number"
                                                                                                                            name="quantite"
                                                                                                                            value="1"
                                                                                                                            min="1"
                                                                                                                            class="quantité">
                                                                                                                        <% }
                                                                                                                            %>
                                                                                                                            <br>


                                                                                                                            <button
                                                                                                                                type="submit"
                                                                                                                                class="btn btn-success">Ajouter
                                                                                                                                au
                                                                                                                                panier</button>
                                                                                                </form>

                                                                                                <br><br>
                                                                                                <!-- Bouton "Ajouter au panier" -->
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <%}%>
                                                                                    <% }); %>
                                                                                        <%}%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Panier -->
                                            <div class="col-md-4 panier">
                                                <div class="bloc-panier">
                                                    <div class="card-title">Panier :</div>
                                                    <div class="card-body-panier">
                                                        <% if (panier.length> 0) { %>
                                                            <p>Total du panier : <%= totalPanier %> points</p>
                                                            <ul style="display: flex; flex-direction: column;">
                                                                <% panier.forEach(function(item) { %>
                                                                    <li
                                                                        style="display: flex; justify-content: space-between;">
                                                                        <br>
                                                                        <%= item.nom_cadeau %> | <%= item.couleur %>
                                                                                |
                                                                                <%= item.taille %> | <%=
                                                                                        item.points_cadeau %> points
                                                                                        -
                                                                                        Quantité
                                                                                        :
                                                                                        <%= item.quantite %>
                                                                                            <form
                                                                                                action="/supprimer-panier"
                                                                                                method="POST">

                                                                                                <input type="hidden"
                                                                                                    name="quantite"
                                                                                                    value="<%= item.quantite %>">
                                                                                                <input type="hidden"
                                                                                                    name="id_cadeau"
                                                                                                    value="<%= item.id_cadeau %>">
                                                                                                <input type="hidden"
                                                                                                    name="couleur"
                                                                                                    value="<%= item.couleur %>">
                                                                                                <input type="hidden"
                                                                                                    name="taille"
                                                                                                    value="<%= item.taille %>">

                                                                                                <button
                                                                                                    class="btn-supprimer"
                                                                                                    type="submit">Supprimer</button>
                                                                                            </form>
                                                                    </li>
                                                                    <% }); %>
                                                            </ul>


                                                            <% } else { %>
                                                                <p>Votre panier est vide.</p>
                                                                <% } %>
                                                                    <div class="btn-container">
                                                                        <br>
                                                                        <form action="/valider-panier" method="POST">
                                                                            <button type="submit"
                                                                                class="btn btn-success">Valider le
                                                                                panier</button>
                                                                        </form>
                                                                    </div>
                                                    </div>
                                                </div>
                                            </div>





</body>

</html>